In [1]:
import numpy as np  
import pandas as pd 
import seaborn as sns

In [4]:
df = pd.read_excel("../data/vigitel 2019 com colunas traduzidas.xls", skiprows=[0])
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,idade em anos,sexo,grau de escolaridade,sére/ano,anos de estudo,peso em kg,...,papanicolau nos últimos três anos,hipertensão arterial,indicação médica (HAS),indicação médica (HAS).1,uso de medicamentos (HAS),hipertensos em tratamento medicamentoso,indicação médica (DB),uso de medicamento (DB),uso de insulina,dislipidemia
0,311666031,29,2019,27,88,1,1,3.0,3,74,...,NaN,1,0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
1,318136030,4,2019,27,65,1,8,NaN,0,57,...,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1321836026,6,2019,10,68,1,1,3.0,3,777,...,NaN,1,1,1.0,1.0,1.0,1.0,1.0,0.0,1.0
3,2323676021,16,2019,10,79,1,1,3.0,3,62,...,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2323716024,22,2019,10,70,1,1,3.0,3,66,...,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52438,94312585036,4,2019,17,70,2,6,5.0,16,57,...,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52439,98318694029,1,2019,7,87,2,6,4.0,15,38,...,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52440,18315885032,25,2019,17,86,2,6,4.0,15,777,...,NaN,1,0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
52441,49311605030,3,2019,17,75,2,6,4.0,15,75,...,NaN,1,0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
52442,74315694027,13,2019,7,75,2,6,4.0,15,777,...,NaN,1,0,1.0,1.0,1.0,NaN,NaN,NaN,NaN

In [12]:
## Perc of value missing by column
pm = df.isna().sum() * 100 / len(df)
md = pd.DataFrame({'column name': df.columns, 'perc': pm})
## Create file
md.to_csv('data_missing.csv')